<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body bgcolor="skyblue">
        <h1></h1>
            {% for context in posts %}
           <table width="700" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A">
            <tr>
               <td><font color="#FFFFFF" face="arial, verdana, helvetica">
            <b>{{ context.title }}</b>
               </font></td>
            </tr>
            <tr>
               <td bgcolor="#ffffcc">
               <font face="arial, verdana, helvetica">
                    <p>Nombre: {{ context.name }} </p>
                    <p>{{ context.type }}</p>
                    <p>Carné: {{context.numero}}</p>
                    <p>DPI: {{context.id}}</p>
                    <p>Fecha: {{context.date }}</p>
               </font>
               </td>
               <!--
               <td><img src="{{context.image}}" width="300" height="200" ></td>
                -->
                <td><img src='/static/image.jpg' width="300" height="200" ></td>
            </tr>
            </table>
            {% endfor %}
</body>
</html>

<!-- http://localhost:8000/datos/?nombre=Edson Andre,Martinez Alvarado -->
